<!DOCTYPE html>
<html ng-app="DisApp">
<head>
    <meta charset="utf-8">
    <title>Disconnect</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='Disconnect LOGO.png')}}"/>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->

    <link href="styles/scss/main.scss" rel="stylesheet">
    <!-- JS -->
    <script src="node_modules/browser/browser.js" charset="utf-8"></script>
    <script src="node_modules/react/dist/react.min.js" charset="utf-8"></script>
    <script src="node_modules/react-dom/dist/react-dom.min.js" charset="utf-8"></script>
    <!-- {% block css %}{% endblock %} -->
  </head>



  <body>
    <div id="Whole_page">

      <nav>
        <ul>
          <li><a href="#"></a></li>
        </ul>
      </nav>

      <!-- {% include 'header.html' %} -->


    <div class="site-content">
      <div class="container">

        <!-- messages -->
        <!-- {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <br>
        <div class="row">
          <div class="col-md-12">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
             {{message}}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endwith %} -->


        <!-- child template -->
        <!-- {% block content %}{% endblock %}
        <br> -->


        <!-- errors -->
        <!-- {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %} -->

      </div>
    </div>

    <br><br>

    <!-- {% include 'footer.html' %} -->

    <!-- scripts -->
    <!-- <script src="//code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{url_for('static', filename='main.js')}}" type="text/javascript"></script> -->
    <!-- {% block js %}{% endblock %} -->
</div>
  </body>
</html>
