<!DOCTYPE html>
<html ng-app="DisApp">
<head>
    <meta charset="utf-8">
    <title>Disconnect</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='Disconnect LOGO.png')}}"/>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->

    <link href="styles/scss/main.scss" rel="stylesheet">
    <!-- JS -->
    <script src="/node_modules/angular/angular.min.js" charset="utf-8"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
    <script src="/node_modules/firebase/firebase.js" charset="utf-8"></script>
    <script src="/node_modules/angularfire/dist/angularfire.min.js" charset="utf-8"></script>

    <script src="/js/app.js" charset="utf-8"></script>
    <script src="/js/factories/auth.factory.js" charset="utf-8"></script>
    <script src="/js/controllers/auth.controller.js" charset="utf-8"></script>
    <!-- {% block css %}{% endblock %} -->
  </head>



  <body ng-contoller="AuthController as auth">
    <div id="Whole_page">


      <nav>
        <ul>
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="apps">Apps</a></li>
          <li><a ui-sref="contact">Contact</a></li>
          <div ng-if="auth.user">
            <li><a ui-sref="profile">Profile</a></li>
            <li><a ng-click="auth.signOut()">Logout</a></li>
          </div>
        </ul>
      </nav>

      <nav ng-if="!auth.user">
        <ul>
          <li><a ui-sref="login">Login</a></li>
          <li><a ui-sref="signup">Sign Up</a></li>
        </ul>
      </nav>

    <div class="banner1 ">
      <img src="/images/disconnect title.png" alt="">
    </div>


    <div class="" ui-view>

    </div>
  </body>
</html>
